* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    /* font-size: 18px;  */
}
body{
    background-color:hsl(0, 0%, 98%);
}
.encabezado {
    width: 100%;
    /*  border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 10px;
}
.display__block{
    display: block;
}
.display__none{
    display: none;
}
.navegacion {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 100vh;
    background-color: rgb(255, 254, 254);
    padding: 16px;
}

/* main section{
    border: 1px solid red;
}
 */
.navegacion__item {
    padding: 9px;
}
.menu__clone {
    display: flex;
    flex-direction: row-reverse;

}
.nevegacion__btn {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.boton--normal {
    width: 70px;
    height: 30px;
    background: none;
    border: 0;
}
.boton--borde {
    width: 67%;
    height: 3em;
    border-radius: 8px;
    background: none;
}
.navegecion__Features {
    display: flex;
    align-items: center;
}
.icon--arrow,
.arrow--icon {
    padding-left: 10px;
}
.submenu__li {
    padding-top: 10px;
    padding-left: 10px;
}
.hero {
    width: 100%;
}
.informacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    padding: 10px;
    gap: 10px;
}
.informacion__make {
    font-size: 30px;
}
.informacion__make br{
    display: none;
}
.boton__learn {
    width: 50%;
    height: 40px;
    border-radius: 10px;
    background-color: white;
}

.boton__learn:hover {
    background-color: black;
    color: white;
    font-family: 18px;
}
.imagen__icon {
    display: flex;
    gap: 10%;
    padding-top: 20px;
    align-items: center;
}
.icon {
    width: 4em;
}
.item__li{
    color: black;
}
/* main{
    border: 1px solid blue;
} */
.fondo__negro {
    background: rgba(0, 0, 0, 0.70);
    width: 100vw;
    height: 100vh;
    position: fixed;
    display:none;
}
@media(min-width: 1024px) {
    .encabezado{
        display: flex;
        flex-direction: row;
        padding: 25px;
    }
    .navegacion{
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: fixed;
        width: auto;
        top: 23px;
        height: 0;
        background-color:hsl(0, 0%, 98%) ;
        left: 12%;
    }
   .item__li{
    color: black;
   }
    .link{
        display: flex;
        gap: 20px;
    }
    .nevegacion__btn{
       display: flex;
       flex-direction:row;
       left: 50%;
    }
    .fondo__negro {
        display: none;
    }
    .menu{
        display: none;
    }
    main{
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
    }
    .informacion{
        align-items: flex-start;
        margin: auto;
        gap: 30px;
        padding-top: 20%;
    }
    .informacion__make{
        font-size: 65px;
    } 
    .boton__learn{
        width: 25%;
        height: 40px;
    }
   .imagen__icon{
        display: flex;
        gap: 9%;
    }
    .icon{
        width: 4em;
    }
   .hero {
        content: url(images/image-hero-desktop.png);
        width: 350px; 
    }
    .menu__clone{
        display: none;
    }
    .submenu{
        position: absolute;
    }
    .informacion__make br{
        display: block;
    }
    .encabezado__informacion{
        width: 45%;
    }
    .encabezado__icon{
        width: 34%;
    }
    .boton--borde{
        width: 125%;
    }
   #submenu{
        background:white;
        width: 13%;
        left: -2%;
        border: 1px solid black;
        border-radius: 9px;
    }
    #menu__company{
        background:white;
        border: 1px solid black;
        width: 11%;
        padding: 1%;
        border-radius: 9px;
    } 
    
}  