* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    /* font-size: 18px;  */
}

.encabezado {
    width: 100%;
    /*  border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 10px;
}

.navegacion {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 100vh;
    background-color: rgb(236, 221, 221);
    padding: 16px;
    display: none;
}
main section{
    border: 1px solid red;
}

.navegacion__item {
    padding: 9px;
}

.menu__clone {
    display: flex;
    flex-direction: row-reverse;
}

.nevegacion__btn {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.boton--normal {
    width: 70px;
    height: 30px;
    background: none;
    border: 0;
}

.boton--borde {
    width: 67%;
    height: 3em;
    border-radius: 8px;
    background: none;
}

.navegecion__Features {
    display: flex;
    align-items: center;
}

.icon--arrow,
.arrow--icon {
    padding-left: 10px;
}

.submenu__li {
    padding-top: 10px;
    padding-left: 10px;
}

.hero {
    width: 100%;
}

.informacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    padding: 10px;
    gap: 10px;
}

.informacion__make {
    font-size: 2em;
}

.boton__learn {
    width: 50%;
    height: 40px;
    border-radius: 10px;
    background-color: white;
}

.boton__learn:hover {
    background-color: black;
    color: white;
    font-family: 18px;
}

.imagen__icon {
    display: flex;
    gap: 20px;
    padding-top: 20px;
    align-items: center;
}

.icon {
    width: 4em;
}

main{
    border: 1px solid blue;
}

.fondo__negro {
    background: rgba(0, 0, 0, 0.70);
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: none;
}

@media screen and (min-width: 1024px) {
    .navegacion {
        display: none;
    }

    .fondo__negro {
        display: none;
    }
    .menu{
        display: none;
    }

    main{
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
    }

    

    

}